STAGE="dev"

APP_HOST="0.0.0.0"
APP_PORT="8000"

# SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE="0.95"

# GRAYLOG_HOST=

USER="web"
TZ="Europe/Moscow"

TELEGRAM_API_TOKEN="123456789:AABBCCDDEEFFaabbccddeeff-1234567890"

# webhook settings
DOMAIN="https://mydomain.com"
URL_PREFIX="/gpt"

GPT_BASE_HOST="http://chat_service:8858"

# set to true to start with webhook. Else bot will start on polling method
START_WITH_WEBHOOK="false"

# quantity of workers for uvicorn
WORKERS_COUNT=1
# Enable uvicorn reloading
RELOAD="true"
DEBUG="true"

GPT_MODEL="gpt-3.5-turbo-stream-DeepAi"

# "gpt-3.5-turbo-stream-openai"
# "gpt-3.5-turbo-Aichat"
# "gpt-4-ChatgptAi"
# "gpt-3.5-turbo-weWordle"
# "gpt-3.5-turbo-acytoo"
# "gpt-3.5-turbo-stream-DeepAi"
# "gpt-3.5-turbo-stream-H2o"
# "gpt-3.5-turbo-stream-yqcloud"
# "gpt-OpenAssistant-stream-HuggingChat"
# "gpt-4-turbo-stream-you"
# "gpt-3.5-turbo-AItianhu"
# "gpt-3-stream-binjie"
# "gpt-3.5-turbo-stream-CodeLinkAva"
# "gpt-4-stream-ChatBase"
# "gpt-3.5-turbo-stream-aivvm"
# "gpt-3.5-turbo-16k-stream-Ylokh"
# "gpt-3.5-turbo-stream-Vitalentum"
# "gpt-3.5-turbo-stream-GptGo"
# "gpt-3.5-turbo-stream-AItianhuSpace"
# "gpt-3.5-turbo-stream-Aibn"
# "gpt-3.5-turbo-ChatgptDuo"
