[Unit]
Description=Chat-gpt bot
Wants=network-online.target
After=network-online.target
[Service]
Restart=always
WorkingDirectory=/opt/gpt_chat_bot
ExecStart=bash -c "docker compose -f /opt/gpt_chat_bot/docker-compose.yml up"
ExecStop=bash -c "docker compose -f /opt/gpt_chat_bot/docker-compose.yml down"
[Install]
WantedBy=multi-user.target